h1{
    font-family: arial;
    color: dimgray;
}

div{
    width: 140pt;
    padding: 5pt;
    margin: 10pt;
    border: 1px solid lightgray;
    font-size: 16pt;
}
/**
#d1{
    background-color: lightblue;
}

#d2{
    background-color: yellow;
}**/

.blueback{
    background-color: lightblue;
}

.yellowback{
    background-color: yellow;
}
